body {
  background-image: url(./public/background\ whit.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#layot {
  margin: -11px;
  background-color: rgba(0, 140, 255, 0.5);
}

#Logo {
  margin: center;
  width: 60px;
}

#logotitle {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 54px;
}

#sobretitle {
  margin-left: 505px;
  font-size: 45px;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

#sobre1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-left: 227px;
}

#sobre2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-left: 178px;
}

#sobre3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-left: 181px;
}

#sobre4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-left: 181px;
}

#sobre5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-left: 181px;
}

#backgroundcontato {
  background-color: rgb(0, 162, 255);
}

#contatotitle {
  margin-left: 479px;
  font-size: 45px;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

ul li a {
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.7s;

  background: rgba(255, 255, 255, 0.3);
}

ul li a:hover {
  border: 10px solid white;
  background: rgba(1, 1, 1, 0.5);
}

#serviçotitle {
  margin-left: 414px;
  font-size: 45px;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

#planogratuito {
}

#planobasico {
}

#planopremium {
}

#planodeveloper {
}

#backgroundfooter {
  background-color: rgba(0, 162, 255);
}

#footertext {
  font-size: 16px;
  padding-left: 389px;
}
